
/* Symptom List */
.symptom-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.symptom-option {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 12px;
    border: 2px solid #10817b;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
    background-color: white;
    position: relative;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}

/* Skryj input */
.symptom-option input {
    display: none;
}

/* Roztažení labelu */
.symptom-label {
    width: 100%;
    text-align: center;
    z-index: 1;
}

/* ZVÝRAZNĚNÍ CELÉHO SYMPTOM-OPTION PŘI VÝBĚRU */
.symptom-option input:checked ~ .symptom-label {
    color: #10817b;
    font-weight: bold;
}

/* Svícení celého bloku pomocí pseudo-elementu */
.symptom-option input:checked ~ .symptom-label::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #e0ecff;
    border-radius: 10px;
    box-shadow: #11958e;
    z-index: -1;
    transition: all 0.2s ease;
}

.symptom-label {
    font-size: 16px;
    width: 100%;
}